body{
    background: rgb(171, 169, 169);
    background: linear-gradient(to right,rgb(185, 241, 255),gray,rgb(254, 162, 162));
}
h1{
    margin-top:70px;
    color:rgb(254, 2, 2);
}
#userList{
    font-size:medium;
    color:rgb(9, 9, 9);
    
}
footer{
    text-align: center;
    margin-top:200px;
    color:rgb(255, 245, 245);
}
